
body {
    background-color: #2f1938;
    color: #7764ed;
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 10px;
}

nav{
    background-color: #2f1938;
    padding: 10px;
    margin-bottom: 10px;
}
nav a {
    text-decoration: none;
    color: rgb(148, 187, 41);
}
nav ul {
    list-style-type: none;
    margin: 0;
}
nav li {
    display: inline;
    margin-right: 25px;
    color: #6495ed;
}
nav a:hover {
    color: #6495ed ;
}

h1 {
    padding-top: 20px;
    text-align: center;
    color: #6495ed;
    text-shadow: 3px 3px #a12929;
}

h2 {
    color: #7764ed;
    text-shadow: 1px 1px #656565;
}

button {
    background-color: rgb(90, 35, 35);
    color: #6495ed;
    text-shadow: 1px 1px #656565;
}

img {
    width: 50%;
    display: block;
    margin: auto;
}